.dateRegection{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
div{
display: flex;
flex-wrap: nowrap;
h5{
display: flex;
color: gray;
margin-left: 5%;
align-items: center;
input{
margin-left: 5%;
padding: 5% !important;

}
}
}
}
.homeTop{
background: rgba(0, 0, 0,.02);
border-radius: 22px;
}