.RelateNumber{
width: 200px;
height: 70px;
display: flex;
padding: 10px;
margin: 2%;
justify-content: space-between;
border-right: 2px solid black;
div p{

color: #969AA0;
margin: 4px;
}
div h4{
font-size: 18px;
margin-bottom: 0%;
}
}

.up {
display: flex;
align-self: flex-end;
margin-bottom: 2%;
background-color: black;
color: #16E32B;
padding: 2%;
border-radius: 5px;
}
.down {
display: flex;
align-self: flex-end;
margin-bottom: 2%;
background-color: black;
color: #FF9C40;
padding: 2%;
border-radius: 5px;
}